/* 妞ゅ湱娲伴崣鎴濈 */
.subjectPublishinput{width: 100%;height: 3rem;line-height: 3rem;}
.subjectPublishselect{width: 100%;height: 3rem;color: #999;}
.subjectPublishinputCon{margin-right: auto; margin-left: auto; padding-top: 5px; padding-bottom: 5px;}
.subjectPublishinputBg{background:#FFF; padding:20px 8px }
.subjectPublishTable{width: 100%;margin-top: 50px;}
.subjectPublishTable td{padding-left:8px;padding-right:8px;width: 50%;}
/* 妞ゅ湱娲扮�光剝鐗� */
.subjectTitleCon{text-align: center;}
.subjectPublishImg{width: 100%;height: auto;margin-top: 20px;margin-bottom: 20px;}
.subjectIntroCon h5{font-size: 16px;color:#888;margin-bottom: 10px;}
.subjectIntroCon p{text-indent: 14px;font-size: 14px;color:#888;line-height: 20px;}
/* 濞夈劌鍞� */
.signinchooseUL li{padding: 15px 10px;background-color: #fff;margin-bottom: 5px;}
.signinchooseUL div{display: inline-block;vertical-align: middle;line-height: 20px;}
.Ulicon{
        width: 1rem;
    height: auto;
    margin-right: 14px;
    margin-left: 3px;
    vertical-align: middle;
}
.Ulicon2{width: 1.5rem;margin-right: 10px;margin-left: 0px;}
.ULiconRight{
        width: 10px;
        height: 17px;
        margin-top: 12px;
}
/* 濞搭喚鐛� */
.innerbox {
    padding: 8px;
}
.popbox {
    position: absolute;
    left: 0px;
    display: none;
    top: 0px;
    z-index: 9999;
    background-color: #fff;
}
.RegisterxiPop {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.rowtablexi {
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.clearfix {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.m_top10 {
    margin-top: 10px;
}
.red_submint {
    background: #da4453 none repeat scroll 0 0;
    border-radius: 2px;
    border: none;
    color: #fff;
    display: block;
    height: 2.5rem;
    padding: 2px 5px;
    line-height: 32px;
    text-align: center;
    width: 100%;
}
.divout {
    border-radius: 5px;
    height: 3rem;
    line-height: 3rem;
}
.seletStyle select {
    height: 3rem;
    width: 100%;
    overflow: hidden;
    color: #999;
    background: none;
    padding: 0 5px;
}
.formxi01 {
    width: 100%;
    text-indent: 5px;
}
.formxi {
    text-indent: 5px;
    font-family: Hiragino Sans;
    height: 3rem;
}
#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 999;
}
/* 閹锋稑缍� */
.service_box ul li {
    background-color: #fff;
    margin-bottom: 5px;
}
.zhao {
    border: 1px solid #E2E2E2;
    border-left: none;
    border-right: none;
    padding: 0px;
}
a {
    color: #333;
}
.zhao_t {
    padding: 10px 8px;
}
.zhao_t img {
    float: left;
    margin-right: 15px;
   /*  border-radius: 30px; */
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.zhao_t_pic img{
	 border-radius: 0px !important;
}
.zhao_t h3 {
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}
.zhao_t p {
    font-size: 14px;
    color: #999;
}
.zhao_b span {
    width: 50%;
    float: left;
    text-align: center;
    display: inline-block;
    padding: 10px 60px;
}
.zhao_b {
    width: 100%;
    border-top: 1px solid #E2E2E2;
}
.zhao_b span{
	font-size:14px;
}
.zhaolu {
    border-right: 1px solid #E2E2E2;
    box-sizing: border-box;
}
/* .zhaolu2 {
    border-right: 1px solid #E2E2E2;
    box-sizing: border-box;
} */
.zhaolu:hover{background-color:#F3F3F3;}
.zhaolu:hover a{color:#999;}
.zhaolu2:hover{background-color:#F3F3F3;}
.zhaolu2:hover a{color:#ff0000;}
/* 閹存垹娈戞い鍦窗 */
.service_box ul li {
    background-color: #fff;
    margin-bottom: 5px;
}

.care_t {
    padding: 10px 8px;
}
.care_t img {
    float: left;
    margin-right: 15px;
    width: 100px;
    height: 80px;
}
.care_t h3 {
    font-size: 15px;
    color: #000;
}
.care_t p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}
/* 閿熸枻鎷风粐娉ㄩ敓鏂ゆ嫹 */
.subjectOrgSearch{
    width:100%;
    /* background-color: #fff; */
    background:transparent url('../../public/img/imagesCity/bg_line.png') repeat top left;
    position: fixed;
    bottom:0;left:0;
    text-align: center;
    padding: 10px 8px;
    z-index: 99;
}
.borderR17{border-radius:8px !important;}
.subOrgSpan span{width: 33.3%;    padding: 10px 0px;    text-align: center;}
.subOrgSpan2 span{width: 100%;    padding: 10px 0px;    text-align: center;}
.subOrgSpan3 span{width: 50%;    padding: 10px 0px;    text-align: center;}
.zhao p{display: inline-block;}
.subOrgImg{ display: table-cell;
 vertical-align:middle;}
.zuzhi_width{width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.jiaoyan_top{margin-top:-7px;}
#searchContainer .sample__box{display: inline-block;margin-bottom: 10px;}
#searchContainer input{margin-bottom: 10px;}
.tmt-radio:checked+.tmt-radio__text:before {
    background-color: #da4453 !important;
    border-color: #da4453 !important;
}
.searchInputStyle{width: 98%;border-radius:8px !important;}
.marl10{margin-left: 10px;}
.displayN{display: none;}
.bgcBlackwindow{width: 100%;height: 100%;background-color: #000;opacity: 0.2;position: absolute;z-index: 20;top: 0;left: 0;display: none;}
#searchContainer{position: relative;}
.signcancelBtn{    position: absolute;
    top: -30px;
    right: 8px;
    width: 15px;
    height: 15px;}
.searchInputStyle2{width: 48%;display: inline-block;}
.my_service{margin-top: 5px;}
.personalicon{width: 12px !important;height: auto !important;}
#searchBtn{width: 98%;}
#searchBtnshow{width: 98%;}
/*media css*/
@media (min-width: 2049px){ 
 
}	
@media (min-width: 1441px) and (max-width: 2048px) { 


}	
@media (min-width: 1025px) and (max-width: 1440px) { 

}	



@media (min-width: 721px) and (max-width: 1024px) { 

}	

@media (min-width: 641px) and (max-width: 720px) { 
 
}	

@media  (min-width: 481px) and (max-width: 640px) {
 
}	

@media (min-width: 321px) and (max-width: 480px) { 
 

}

@media  screen and (max-width: 320px){
 


}

/* 闁喚鍍� */
/* .progressBar {  
    border: solid 2px #f3f3f3;  
    background: white url(../images/loading.gif) no-repeat 18px 35px;  
}   */
  
.progressBar {  
    display: block;  
    width: 160px;  
    height: 58px;  
    top: 50%;  
    left: 50%;  
    margin-left: -57px;  
    margin-top: -14px;  
    padding: 10px 10px 10px 30px;  
    text-align: left;  
    line-height: 27px;  
    font-weight: bold;  
    position: fixed;  
    z-index: 2001;  
}  
  
.background {  
    display: block;  
    width: 100%;  
    height: 100%;  
    opacity: 0.4;  
    filter: alpha(opacity=40);  
    background:while;  
    position: fixed;  
    top: 0;  
    left: 0;  
    z-index: 2000;  
    background-color:#ffffff;  
}   














