/* 
 * My97 DatePicker 4.7
 * 鐨偆鍚嶇О:ext
 * 鐨偆浣滆�:CssRain
 * 浣滆�blog:http://www.CssRain.cn
 * 浣滆�閭:cssrain@gmail.com
 */

/* 鏃ユ湡閫夋嫨瀹瑰櫒 DIV */
.WdateDiv{
	width:180px;
	background-color:#fff;
	border:1px solid #718BB7;
}
/* 鍙屾湀鏃ュ巻鐨勫搴�*/
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

/****************************
 * 瀵艰埅鍥炬爣 鍏ㄩ儴鏄疉鏍囩
 ***************************/
.WdateDiv .NavImg a{
	margin-top:3px;
	cursor:pointer;
	display:block;
	width:15px;
	height:15px;
}
.WdateDiv .NavImgll a{
	background:url(left-btn2.gif) no-repeat center center;
	float:left; 
	margin-left:2px;
}
.WdateDiv .NavImgl a{
	background:url(left-btn.gif) no-repeat center center;
	float:left; 
	margin-left:2px;
}
.WdateDiv .NavImgr a{
	background:url(right-btn.gif) no-repeat center center;
	float:right;
	margin-right:2px;
}
.WdateDiv .NavImgrr a{
	background:url(right-btn2.gif) no-repeat center center;
	float:right;
	margin-right:2px;
}

/****************************
 * 骞翠唤鏈堜唤鐩稿叧
 ***************************/
/* 骞翠唤鏈堜唤鏍�DIV */
.WdateDiv #dpTitle{
	height:22px;
	background:#083473 url(http://125cn.net/js/My97DatePicker/skin/ext/hd-sprite.gif) repeat-x scroll 0 -83px;
	color:#FFFFFF;
	font-family:"sans serif",tahoma,verdana,helvetica;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	padding-top:2px;
}
/* 骞翠唤鏈堜唤杈撳叆妗�INPUT */
.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#FFF;
	background-color:transparent;
	cursor:pointer;
}
/* 骞翠唤鏈堜唤杈撳叆妗嗚幏寰楃劍鐐规椂鐨勬牱寮�INPUT */
.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:16px;
	width:50px;
}
/* 鑿滃崟閫夋嫨妗�DIV */
.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #718BB7;
	display:none;
}
/* 鑿滃崟鐨勬牱寮�TD */
.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}
/* 鑿滃崟鐨刴ouseover鏍峰紡 TD */
.WdateDiv .menuOn{
	cursor:pointer;
	background-color: #B3CEEF;
}
/* 鑿滃崟鏃犳晥鏃剁殑鏍峰紡 TD */
.WdateDiv .invalidMenu{
	color:#aaa;
}
/* 骞撮�鎷╂鐨勫亸绉�DIV */
.WdateDiv .YMenu{
	margin-top:16px;
}
/* 鏈堥�鎷╂鐨勫亸绉�DIV */
.WdateDiv .MMenu{
	margin-top:16px;
	*width:62px;
}
/* 鏃堕�鎷╂鐨勪綅缃�DIV */
.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}
/* 鍒嗛�鎷╂鐨勪綅缃�DIV */
.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}
/* 绉掗�鎷╂鐨勪綅缃�DIV */
.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

/****************************
 * 鍛ㄧ浉鍏�
 ***************************/
 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }
/****************************
 * 鏄熸湡,鏃ユ湡鐩稿叧
 ***************************/
 /* 鏄熸湡鏍�TR */
.WdateDiv .MTitle{
	color:#233D6D;
	background:#DFECFB url(glass-bg.gif) repeat-x scroll left top;
	color:#233D6D;
	cursor:default;
	font-size:10px; 
	padding-top:2px;
}
.WdateDiv .MTitle td{
	border-bottom:1px solid #A3BAD9;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:black 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}
/* 鏃ユ湡鏍忚〃鏍�TABLE */
.WdateDiv .WdayTable{
	line-height:20px;	
	color:black; 
}
.WdateDiv .WdayTable td{
	text-align:center;
}
/* 鏃ユ湡鏍肩殑鏍峰紡 TD */
.WdateDiv .Wday{
	cursor:pointer;
}
/* 鏃ユ湡鏍肩殑mouseover鏍峰紡 TD */
.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#B3CEEF;
}
/* 鍛ㄦ湯鏃ユ湡鏍肩殑鏍峰紡 TD */
.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}
/* 鍛ㄦ湯鏃ユ湡鏍肩殑mouseover鏍峰紡 TD */
.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#B3CEEF;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:red;
}
.WdateDiv .Wselday{
	background-color:#B3CEEF;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}
/* 鍏朵粬鏈堜唤鐨勬棩鏈�*/
.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#AAAAAA;
}
/* 鍏朵粬鏈堜唤鐨勬棩鏈焟ouseover鏍峰紡 */
.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#B3CEEF;
}
/* 鏃犳晥鏃ユ湡鐨勬牱寮�鍗冲湪鏃ユ湡鑼冨洿浠ュ鏃ユ湡鏍肩殑鏍峰紡,涓嶈兘閫夋嫨鐨勬棩鏈�*/
.WdateDiv .WinvalidDay{
	color:#aaa;
}

/****************************
 * 鏃堕棿鐩稿叧
 ***************************/
/* 鏃堕棿鏍�DIV */
.WdateDiv #dpTime{
	width:120px;
	text-align:left;
	margin-left:32px;
	height:20px;
	line-height:20px;
	padding-top:1px;
}
/* 鏃堕棿鏂囧瓧 SPAN */
.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#233D6D;
}
/* 鏃堕棿杈撳叆妗�INPUT */
.WdateDiv #dpTime input{
	height:16px;
	width:18px;
	text-align:center;
	color:#333;
	border:#A3BAD9 1px solid;	
}
/* 鏃堕棿 鏃�INPUT */
.WdateDiv #dpTime .tB{
	border-right:0px;
}
/* 鏃堕棿 鍒嗗拰闂撮殧绗�':' INPUT */
.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}
/* 鏃堕棿 绉�INPUT */
.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}
/* 鏃堕棿鍙宠竟鐨勫悜涓婃寜閽�BUTTON */
.WdateDiv #dpTime #dpTimeUp{
	height:8px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
	cursor:pointer;
	margin-bottom:0;
	padding-bottom:0;
}
/* 鏃堕棿鍙宠竟鐨勫悜涓嬫寜閽�BUTTON */
.WdateDiv #dpTime #dpTimeDown{
	height:8px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
	cursor:pointer;
	margin-top:0;
	padding-top:0;
}
/****************************
 * 鍏朵粬
 ***************************/
 .WdateDiv #dpQS {
 	float:left;
	margin-left:3px;
	margin-top:9px;
	background:url(dateselect.gif) no-repeat;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
	background:#DFECFB url(glass-bg.gif) repeat-x scroll left top;
	border-top:1px solid #A3BAD9;
	padding:4px;
}
.WdateDiv .dpButton{ 
	width:44px;
	height:22px;
	background:#083772 none repeat scroll 0 0;
	border-color:#3366CC #000055 #000055 #3366CC;
	border-style:solid;
	border-width:1px;
	color:white;
	cursor:pointer;

}